# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=rootpassword
ORDER_DB=order_db
INVENTORY_DB=inventory_db
NOTIFICATION_DB=notification_db
